/* Font Family */
@font-face{
	font-family: NewsCycle;
	src: url(../fonts/NewsCycle-Bold.ttf);
	font-weight: bold;
}

/* -----------------------------
           Default Styling
-------------------------------- */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #2cb48b;

}

*{
	box-sizing: border-box;
	font-family: NewsCycle, serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer {
	margin-top: auto;
}

header,
.container,
.title,
.contacts,
.mobile-nav,
.desktop-nav,
.navigation,
.heading,
.project-title,
.plus-button,
.footer-container,
.experience-header,
.experience-body{
	display: flex;
}

.box{
	width: 95%;
	margin: auto;
	/*border: solid black 0.5px;*/
	box-shadow: 0.5px 0.5px 3px #000;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 1em;
	padding-bottom: 1em;
}

.container{
	width: 95%;
	margin: auto;
	text-align: left;
	flex-direction: column;
	justify-content: flex-start;
}

.heading{
	flex-direction: row;
}

.heading h1{
	font-size: 2em;
    margin: 0;
}

.heading .plus-button{
	margin-left: 10px;
	flex-direction: column;
	justify-content: center;
}

.plus-button:hover{
	cursor: pointer;
}

.heading .plus-button img{
	max-width: 15px;
	margin-top: 4px;
}


/* -----------------------------
         	Animations
-------------------------------- */

/* Grow */
.hvr-grow {
    /*display: inline-block;*/
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Sink */
.hvr-sink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}


/* -----------------------------
           Heading
-------------------------------- */

header{
	height: 98vh;
	flex-direction: column;
	background-color: #5ada99;
	justify-content: center;
}

.title{
	justify-content: center;
	max-width: 400px;
}

.name {
	width: 100%;
	height: 80%;
}

.contacts{
	margin: 10px 0;
	justify-content: center;
	align-items: center;
}

.contacts li img{
	max-width: 20px;
	margin: 7.5px 5px;
}

.desktop-nav{
	display: none;
}

.mobile-nav{
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.mobile-nav img {
	max-width: 50px;
}

.glow-effect{
	display: none;
}

/* -----------------------------
           About Me
-------------------------------- */

#about{
	background-color: #2bd0aa;
	color: white;
}

#about-details{
	margin-top: 1em;
	font-size: 1em;
}

.about-picture{
	display: none;
}



/* -----------------------------
           Experience
-------------------------------- */

#experience-heading{
	background-color: #89e1c9;
	color: #fff;
}
#experience-1{
	background-color: #89e1c9;
	color: #fff;	
}

#experience-details h1{
	margin-top: 0.3em;
	font-size: 1.8em;
	text-align: left;
	border-bottom: solid #fff 1px;
	padding-bottom: 0.3em;
}

#experience-details p{
	margin-bottom: 0;
	padding-bottom: 2em;
	font-size: 1em;
}

.experience-body img{
	display: none;
}

/* -----------------------------
           Projects
-------------------------------- */

#projects-heading{
	background-color: #2bbdcd;
	color: #fff;
}

#projects-carousel{
	margin-bottom: 0;
	height: 100%;

}


/* indicators */
.carousel-indicators {
	bottom: 0;
}

.carousel-indicators .active {
	background-color: white;
}

.carousel-indicators li {
	border-color: white;
}


/* slides */

.projects-container {
	margin: auto;
	height: 100%;
}

.carousel-inner{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.project-background{
	min-width: 100%;
	min-height: 480px;
}

.carousel-caption{
	z-index: 10;
	width: 50%;
	margin: auto;
  	top: 50%;
  	transform: translateY(-50%);
  	bottom: auto;
  	text-align: left;
}

.project-title{
	justify-content: flex-start;
	border-bottom: solid #fff 1px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.project-title h1{
	font-size: 1.3em;
	margin: 0;
}

.project-title .plus-button{
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}

.project-title .plus-button img{
	max-width: 10px;
}

.item{
	margin: auto;
	height: 100%;
}

.projects-container p{
	font-size: 1em;
	line-height: 1em;
}

#projects-carousel{
	padding-top: 0;
	padding-bottom: 0;
}

/* project details */

.proj-dtl{
	background-color: #2bbdcb;
	color: #fff;
	margin-top: 2.5px;
}

.projects-detail-container{
	width: 90%;
	margin: auto;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
	color: white;
}

.projects-detail-container h1{
	letter-spacing: 0.02em;
	font-size: 2.1em;
	margin: 0;
}

.projects-detail-container p{
	margin-top: 0.75em;
	line-height: 1.2em;
	font-size: 1em;
}

/* -----------------------------
           Footer
-------------------------------- */

.footer-container{
	color: white;
	text-align: center;
	background-color: #51cfc9;
	justify-content: center;
	padding-top: 1em;
	padding-bottom: 0.8em;
}

.footer-container p{
	margin: auto 0;
	max-width: 150px;
	line-height: 1em;
}








/* Media Queries */

@media (min-width: 300px){

	/* Font Sizes */

	.project-title h1{
		font-size: 1.3em;
	}

	/* Image Sizes */

	.contacts li img {
		max-width: 30px;
	}

	.mobile-nav img{
		max-width: 75px;
	}

	


}

@media (min-width: 430px){

	/* Font Sizes */

	.project-title h1{
		font-size: 1.8em;
	}

	.carousel-caption p{
		font-size: 1.2em;
	}

	/* Image Sizes */

	.contacts li img{
		max-width: 40px;
		margin: 10px 10px;
	}

	.mobile-nav img {
		max-width: 110px;
	}

	.plus-button img{
		width: 16px;
	}

	/* Other */

	.project-title .details {
		margin-left: 12px;
	}

	

}

@media (min-width: 550px){

	/* Font Sizes */

	/*Image Sizes*/

	.title{
		max-width: 650px;
	}

	.contacts{
		margin-top: 30px;
	}

	.contacts li img {
		max-width: 50px;
	}

	.mobile-nav img {
		max-width: 130px;
	}

}

@media (min-width: 720px){

	/* Font Sizes */

	.heading h1{
	font-size: 2.5em;
	}

	#about-details,
	#experience-details p,
	.projects-detail-container p {
		font-size: 1.3em;
	}

	#experience-details h1,
	.projects-detail-container h1{
		font-size: 2em;
	}

	.project-title h1{
		font-size: 2.5em;
	}


	/*Image Sizes*/

	.heading .plus-button img{
		max-width: 20px;
	}

	.contacts li img{
		max-width: 60px;
	}

	.experience-body img{
		align-self: center;
		display: inline-block;
		max-width: 40%;
		margin-left: 1em;
	}

	/*Other*/

	.box{
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	.experience-body{
		flex-direction: row;
	}


}

/* -----------------------------
         
           DESKTOP

-------------------------------- */

@media (min-width: 800px){

	.plus-button img{
		width: 18px;
	}

	.heading .plus-button{
		display: none;
	}

	/* -----------------------------
           		Heading
	-------------------------------- */
	header{
		position: relative;
		z-index: 1;
		height: 99vh;
	}

	.main-header{
		padding: 0;
	}

	.main-header .container{
		position: relative;
		margin-top: -10%;
		padding: 0;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		max-height: 700px;
		margin: auto;
	}

	.title{
		width: 50%;
		position: absolute;
		left: 50%;
  		transform: translate(-55%, -50%);
  		right: auto;
  		top: 50%;
  		bottom: auto;
	}

	.container::before{
		content: none !important;
	}

	.container::after{
		content: none !important;
	}

	.contacts{
		z-index: 3;
		order: 1;
		flex-direction: column;
		justify-content: center;
		width: 10%;
		margin-left: 20px;
	}

	.contacts li{
		margin: 5px 0;
	}

	.desktop-nav{
		z-index: 3;
		display: block;
		order: 3;
		align-self: center;
		margin-right: 5px;
		align-items: center;
		color: #fff;
	}

	.desktop-nav li{
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 20px;
		padding: 5px 20px;
		border: solid #fff 3px;
		border-radius: 5px;
		font-size: 1.2em;
	}

	.desktop-nav a li{
		color: #fff;
	}

	.desktop-nav a{
		text-decoration: none;
	}

	.desktop-nav{
		text-align: center;
	}

	.mobile-nav{
		display: none;
	}

	.glow-effect{
		display: block;
		position: absolute;
		width: 100%;
		z-index: 1;
		bottom: 0;
	}

	/* -----------------------------
           		About Me
	-------------------------------- */


	/* -----------------------------
           		Experience
	-------------------------------- */



	/* -----------------------------
           		Projects
	-------------------------------- */

	.project-background{
		min-height: 500px;
		max-height: 500px;

	}


	.project-title h1{
		font-size: 2em;
	}

	.project-title .details {
		margin-left: 12px;
	}

	.carousel-caption p{
		font-size: 1em;
	}

	/* -----------------------------
           		Footer
	-------------------------------- */

	.footer-container p{
		max-width: none;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

}

@media (min-width: 1000px){

	.box{
		width: 90%;
	}

	.container{
		width: 90%;
	}

	.heading-container{
		width: 95%;
	}



	.desktop-nav li{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 40px;
		padding: 5px 20px;
		border: solid #fff 3px;
		border-radius: 5px;
		font-size: 1.5em;
	}	

	.contacts li img{
		max-width: 55px;
	}	

	.project-background{
		min-height: 650px;
		max-height: 650px;
	}

	.carousel-caption{
		width: 40%;
	}

}

@media (min-width: 1500px){

	/* Font Sizes */
	.heading h1{
	font-size: 3em;
	}

	#about-details,
	#experience-details p,
	.projects-detail-container p {
		font-size: 1.7em;
	}

	#experience-details h1,
	.projects-detail-container h1{
		font-size: 3em;
	}

	.project-title h1{
		font-size: 3em;
	}

	/*Other*/

	.container{
		width: 85%;
	}

	.heading-container{
		width: 90%;
	}

	.projects-detail-container{
		width: 80%;
	}

	.desktop-nav li{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: 70px;
		padding: 5px 20px;
		border: solid #fff 3.8px;
		border-radius: 6px;
		font-size: 1.8em;
	}	

	.contacts li img{
		max-width: 60px;
	}	

	.title{
		transform: translate(-52%, -50%);
	}

	.plus-button img{
		width: 22px;
	}

	#experience-details h1{
		margin-top: 0.6em;
		margin-bottom: 0.6em;
	}

	.carousel-caption{
		width: 35%;
	}

	.project-title h1{
		font-size: 2.5em;
	}

	.project-title .details {
		margin-left: 12px;
	}

	.carousel-caption p{
		font-size: 1.2em;
	}

}